<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
      <section id="contact" class="section-padding">
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="header-h">Login</h1>
                    <p class="header-p">Escolha a forma de login</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12 text-center">
                            <a class="btn btn-imfo btn-read-more" href="/auth/google">Google+</a>
                            <a class="btn btn-imfo btn-read-more" href="/auth/facebook">Facebook</a>
                    </div>
                </div>
        </div>
    </section>
    
    <% include ../partials/footer.ejs %>
  </body>
</html>