<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fila</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
      <section id="contact" class="section-padding">
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 ">
                    <h1 class="header-h">Pedidos</h1>
                    <p class="header-p">Lista de pedidos</p>
                </div>
                
                <table cellspacing="0" align="center">
                    <tr>
                    <th>Nº do pedido</th>
                    <th>Cliente</th>
                    <th>Valor</th>
                    <th>Status</th>
                    </tr>
    
                    <% orders.forEach(function(order){ %>
                    <tr>
                        <td><%= order.id %></td>
                        <td><%= order.name %></td>
                        <td><%= order.price %></td>
                        <td><%= order.is_ready ? "Pronta " : "Em preparo"  %></td>
                    </tr>
                    <% })%>
                </table>
                
            </div>

          
        
    </section>

    <% include ../partials/footer.ejs %>


    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>

    <script>
        
        var q1 = checkUpdate();

        setInterval(function(){
            var q2 = checkUpdate()
            if (q1 != q2){
                location.reload();
            }
        }, 3000);

        function checkUpdate (){
            var update = $.ajax({
                url: "/orders/all_orders",
                type: "GET",
                async: false,
            }).responseText;

            return update;
        }

    </script>

    </body> 
</html>
