<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadastro</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
      <section id="contact" class="section-padding">
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="header-h">Cadastre-se</h1>
                    <p class="header-p">Cadastro de funcionário</p>
                </div>
            </div>
            <div class="text-center">
              <div class="container"  style='max-width:700px'>
                <form id="contact" action="" method="post">
                  <fieldset>
                    <input placeholder="Digite o nome" class="form-control" type="text" tabindex="1" name='user[name]' required autofocus>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Digite o e-mail" class="form-control" type="email" tabindex="2" name='user[email]' required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Digite o seu telefone (opcional)" class="form-control" type="text" tabindex="2" name='user[phone]'>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Digite a senha" class="form-control" type="password" tabindex="2" name='user[password]' required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Confirme a senha" class="form-control" type="password" tabindex="2" name='user[password_2]' required>
                  </fieldset>
                  <fieldset>
                    <button class="contacts-btn" name="submit" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
                  </fieldset>
                </form>
              </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer.ejs %>
  </body>
</html>
