<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/sign_in.css" />
<body>
  <div class="container">
    <form id="contact" action="" method="post">
      <h3>Edição do usuário <%= user.name %></h3>
      <h4>Realize as alterações desejadas e depois clique em "Enviar"</h4>
      <fieldset>
        <input value="<%= user.name %>" type="text" tabindex="1" name='user[name]' required autofocus>
      </fieldset>
      <fieldset>
        <input value="<%= user.email %>" type="email" tabindex="2" name='user[email]' required>
      </fieldset>
      <fieldset>
        <input value="<%= user.phone %>" type="text" tabindex="2" name='user[phone]'>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
